@charset "utf-8";

/* 背景音乐 */
	#music{
		position: absolute;
		width: .4rem;
		height: .4rem;
		right: .2rem;
		top: .3rem;
		z-index: 6666;
		display: none;
		background: url('../images/music.svg') no-repeat center;
		-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
		-webkit-animation-name: aniMusic;
				animation-name: aniMusic;
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
		-webkit-animation-duration: 1.6s;
				animation-duration: 1.6s;
		-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
	}
	@-webkit-keyframes aniMusic{
		100%{
			-webkit-transform: rotate(360deg);
		}
	}
	@keyframes aniMusic{
		100%{
			transform: rotate(360deg);
		}
	}

/* 入场动画 */
	section.content{
		position: fixed;
	}
	.content,
	.content>section,
	.content .start .box>div,
	.content .conBox .con{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.content .start{
		z-index: 19;
	}
	.content .start .box>div.bottom{
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
		-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
		background-color: rgba(255, 255, 255, .7);
	}

	/* 下 */
	.content .start.action.up .box>div.bottom{
		-webkit-animation-name: startBottomUp;
				animation-name: startBottomUp;
		-webkit-transform: translateY(100%);
				transform: translateY(100%);
		-webkit-animation-duration: 1.8s;
				animation-duration: 1.8s;
	}
	.content .start.action.down .box>div.bottom{
		-webkit-animation-name: startBottomDown;
				animation-name: startBottomDown;
		-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
		-webkit-animation-duration: 1.4s;
				animation-duration: 1.4s;
	}
	@-webkit-keyframes startBottomUp{
		40%{
			-webkit-transform: translateY(0);
			opacity: 0.5;
		}
		100%{
			-webkit-transform: translateY(0);
			opacity: 0;
		}
	}
	@keyframes startBottomUp{
		40%{
			transform: translateY(0);
			opacity: 0.5;
		}
		100%{
			transform: translateY(0);
			opacity: 0;
		}
	}
	@-webkit-keyframes startBottomDown{
		32%{
			-webkit-transform: translateY(-80%);
			opacity: 1;
		}
		70%{
			-webkit-transform: translateY(0);
			opacity: 0;
		}
		100%{
			-webkit-transform: translateY(0);
			opacity: 0;
		}
	}
	@keyframes startBottomDown{
		32%{
			transform: translateY(-80%);
			opacity: 1;
		}
		70%{
			transform: translateY(0);
			opacity: 0;
		}
		100%{
			transform: translateY(0);
			opacity: 0;
		}
	}

/* con背景 */
	.content .conBox .con{
		background-position: center;
		-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
		-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
		-webkit-animation-duration: 1.2s;
				animation-duration: 1.2s;
	}
	
	.content .conBox .index{
		background-image: url('../images/indexBg.jpg');
	}
	.content .conBox .pCon{
		background-image: url('../images/pCon.jpg');
	}

	.content .conBox .con.action{
		-webkit-animation-name: conBox;
				animation-name: conBox;
	}
	@-webkit-keyframes conBox{
		80%{
			opacity: .65;
			z-index: 0;
		}
		100%{
			opacity: 1;
			z-index: 20;
		}
	}
	@keyframes conBox{
		80%{
			opacity: .65;
			z-index: 0;
		}
		100%{
			opacity: 1;
			z-index: 20;
		}
	}

/* 滑动提示 */
	.content .conBox .con .bSlide{
		position: absolute;
		bottom: .15rem;
		left: 0;
		right: 0;
		margin: auto;
		width: .54rem;
		z-index: 999;
	}
	.content .conBox .con .bSlide .ani .show{
		height: .45rem;
		-webkit-transform-origin: center 100%;
				transform-origin: center 100%;
		-webkit-animation-delay: 1.2s;
				animation-delay: 1.2s;
		-webkit-animation-duration: 1.6s;
				animation-duration: 1.6s;
		-webkit-transform: scale(1,1) translate(0,2rem) rotateY(0);
				transform: scale(1,1) translate(0,2rem) rotateY(0);
	}
	.content .conBox .con .bSlide .ani .show div{
		position: absolute;
		height: .2rem;
		left: 0;
		right: 0;
		opacity: 0;
		background: url('../images/bSlide.png') no-repeat center;
		-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
		-webkit-animation-duration: 1.8s;
				animation-duration: 1.8s;
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
	}
	.content .conBox .con .bSlide .ani .show div:nth-of-type(1){
		top: 0;
	}
	.content .conBox .con .bSlide .ani .show div:nth-of-type(2){
		top: .15rem;
		-webkit-animation-delay: .6s;
				animation-delay: .6s;
	}
	.content .conBox .con .bSlide .ani .show div:nth-of-type(3){
		top: .3rem;
		-webkit-animation-delay: 1.2s;
				animation-delay: 1.2s;
	}
	.content .conBox .con.action .bSlide .ani .show div{
		-webkit-animation-name: bSlideAni;
				animation-name: bSlideAni;
	}
	@-webkit-keyframes bSlideAni{
		0%{
			opacity: 0;
			-webkit-transform: translateY(0);
		}
		25%{
			opacity: 1;
			-webkit-transform: translateY(.01rem);
		}
		50%{
			opacity: 0;
			-webkit-transform: translateY(0);
		}
		75%{
			opacity: 1;
			-webkit-transform: translateY(.01rem);
		}
		100%{
			opacity: 0;
			-webkit-transform: translateY(0);
		}
	}
	@keyframes bSlideAni{
		0%{
			opacity: 0;
			transform: translateY(0);
		}
		25%{
			opacity: 1;
			transform: translateY(.01rem);
		}
		50%{
			opacity: 0;
			transform: translateY(0);
		}
		75%{
			opacity: 1;
			transform: translateY(.01rem);
		}
		100%{
			opacity: 0;
			transform: translateY(0);
		}
	}

/* 动画速度曲线 */

	.con.action .getBallAni{
		-webkit-animation-name: aniBall;
				animation-name: aniBall;
	}
	@-webkit-keyframes aniBall{
		100%{
			-webkit-transform: rotate(0);
		}
	}
	@-webkit-keyframes aniBall{
		100%{
			-webkit-transform: rotate(0);
		}
	}
	.aniTZ{
		opacity: 0;
		-webkit-transform: translateZ(3rem);
				transform: translateZ(3rem);
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
		-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
	}
	.con.action .getAniTZ{
		-webkit-animation-name: aniTZ;
				animation-name: aniTZ;
	}
	@-webkit-keyframes aniTZ{
		100%{
			opacity: 1;
			-webkit-transform: translateZ(0);
		}
	}
	@keyframes aniTZ{
		100%{
			opacity: 1;
			transform: translateZ(0);
		}
	}
	.aniLinear{
		opacity: 0;
		-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
		-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
	}
	.con.action .getAni{
		-webkit-animation-name: getAni;
				animation-name: getAni;
	}
	@-webkit-keyframes getAni{
		100%{
			opacity: 1;
			-webkit-transform: scale(1,1) translate(0,0) rotateY(0);
		}
	}
	@keyframes getAni{
		100%{
			opacity: 1;
			transform: scale(1,1) translate(0,0) rotateY(0);
		}
	}
	.con.action .getFall{
		-webkit-animation-name: getFall;
				animation-name: getFall;
	}
	@-webkit-keyframes getFall{
		100%{
			opacity: 1;
			-webkit-transform: translateZ(0);
		}
	}
	@keyframes getFall{
		100%{
			opacity: 1;
			transform: translateZ(0);
		}
	}